<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lensspace.com</title>
  <link rel="shortcut icon" type="image/png" href="/admin/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="/admin/assets/css/styles.min.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <%-include('./includes/sidebar.ejs')%>
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <%-include("./includes/header.ejs")%>
      <!--  Header End -->

  
  <section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Users list</h2>
        
    </div>
    <div class="card mb-4">
        <div class="card-body">
          <h2 class="content-title">Category list</h2>
          <a href="/admin/addCategory" class="btn btn-primary">Add Category</a>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Action </th>
                        </tr>
                    </thead>
                    <% categories.forEach(category => { %>
                    <tbody>
                      <tr>
                              <td width="20%"><%= category.name %></td>

                              <td width="20%"><%= category.description %></td>
                             
                          
                                <td> 
                                    <% if (category.isListed) { %>
                                        <span class="badge bg-success">Listed</span>
                                    <% } else { %>
                                        <span class="badge bg-warning">Unlisted</span>
                                    <% } %>
                                </td>
                                <td>
                                    <a href="/admin/editCategory?id=<%=category._id %>">Edit</a>
                                                 

                                             <%if(category.isListed==true){%>
                                                <a  href="/admin/unlistCategory?id=<%=category._id %>">Unlist</a>
                                             <%}else{%>
                                                <a  href="/admin/relistCategory?id=<%=category._id %>">Relist</a>
                                                 <%}%>   
                                            
                                </td>
                         

                        </tr>
                        <% }) %>
                    </tbody>
                </table> <!-- table-responsive.// -->
            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
   

</section> 





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  






<script src="/admin/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script src="/admin/assets/js/app.min.js"></script>
<script src="/admin/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="/admin/assets/libs/simplebar/dist/simplebar.js"></script>
<script src="/admin/assets/js/dashboard.js"></script>

</body>

</html>