
    



<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lensspace.com</title>
  <link rel="shortcut icon" type="image/png" href="/admin/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="/admin/assets/css/styles.min.css" />
</head>

<body>
   
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <%-include('./includes/sidebar.ejs')%>
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <%-include("./includes/header.ejs")%>
      <!--  Header End -->
<br>
<br>
<br>
<br>

      
<section class="content-main">
    <h3 style="margin-left: 20px;">Order details</h3>

    <div class="card">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <span>
                        <i class="material-icons md-calendar_today"></i>
                        <b><%= orders[0].createdAt.toLocaleString() %></b>
                    </span>
                    <br>
                    <small class="text-muted">Order ID: <%= orders[0]._id %></small>
                </div>
            </div>
        </header>
        <div class="card-body">
            <div class="row mb-50 mt-20 order-info-wrap">
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                                <%= address.item.name %> <br>
                                <%= address.item.mobileNumber %>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                                <%= address.item.address %><br>
                                <%= address.item.locality %> <br>
                                <%= address.item.city %> <br>
                                <%= address.item.pincode %> <br>
                                <%= address.item.state %>
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="40%">Product</th>
                                    <th width="20%">Unit Price</th>
                                    <th width="20%">Quantity</th>
                                    <th width="20%" class="text-end">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% products.forEach(function(product, index) { %>
                                    <tr>
                                        <td>
                                            <a class="itemside" href="#">
                                                <div class="left">
                                                    <img src="../admin/admin-assets/imgs/product-images/<%= product.image[0] %>"
                                                        width="40" height="40" class="img-xs" alt="Item">
                                                </div>
                                                <div class="info"> <%= product.productName %> </div>
                                            </a>
                                        </td>
                                        <td> ₹<%= product.productPrice %></td>
                                        <td> <%= product.quantity %></td>
                                        <td class="text-end"> ₹<%= product.productPrice * product.quantity %> </td>
                                    </tr>
                                <% }) %>
                                <tr>
                                    <td >
                                        <article class="float-end">
                                            <dl class="dlist">
                                                <dt>Coupon Code:</dt>
                                                <dd> <b class="h6"><%= orders[0].couponCode %></b> </dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Discount Percentage:</dt>
                                                <dd> <b class="h6"><%= orders[0].discountPercentage + ' % '%></b> </dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Discount Amount:</dt>
                                                <dd> <b class="h6"><%= '- ₹ ' + orders[0].discountAmount %></b> </dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Grand total:</dt>
                                                <dd> <b class="h5">₹<%= orders[0].totalPrice %></b> </dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt class="text-muted">Status:</dt>
                                                <dd>
                                                    <span
                                                        class="badge rounded-pill alert-success text-success"><%= orders[0].paymentStatus %></span>
                                                </dd>
                                            </dl>
                                        </article>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <% if (orders[0].paymentMethod == 'razorpay') { %>
                        <div class="box shadow-sm bg-light">
                            <h6 class="mb-15">Payment info</h6>
                            <p>
                                Payment Method : Razorpay <br>
                            </p>
                            <p style="font-weight: bold;">Transaction Id : <%= orders[0].razorpayId %>
                            </p>
                        </div>
                    <% } else { %>
                        <div class="box shadow-sm bg-light">
                            <h6 class="mb-15">Payment info</h6>
                            <p>
                                Payment Method : <%= orders[0].paymentMethod.toUpperCase() %> <br>
                            </p>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>
  




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/admin/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script src="/admin/assets/js/app.min.js"></script>
<script src="/admin/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="/admin/assets/libs/simplebar/dist/simplebar.js"></script>
<script src="/admin/assets/js/dashboard.js"></script>

</body>

</html>


