
<!doctype html>

<html lang="en">
  <head>
   
    
      <%-include("./includes/headerPart.ejs")%>
    </style>
  </head>
  <body>
    <%-include("./includes/header.ejs")%>

    <div class="text-center center-div" id="login">
        <br><br><br>
        <div class="container w-25  py-5">
            <div class="title pb-5">
                <h1 class="font-weight-bold text-danger">Login System</h1>
                <br><br>
                <span class="text-primary"><h3>Login for the existing user</h3></span>
                <% if(locals.logout){%>
                    <div class="text-warning text-center">
                        <%=logout %>

                    </div>
                
                <%}%>

            </div>
            <section class="login_box_area section_gap">
                <div class="container">
                        <div class="col-lg-12">
                            <div class="login_form_inner">
                                <h3>Enter YouR OTP</h3>
                                <form class="row login_form" action="/forgotPassword" method="post" id="contactForm" novalidate="novalidate">
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="form-control" id="name" name="otp" placeholder="OTP" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                                    </div>
                                    
                                    <div class="col-md-12 form-group">
                                        <button type="submit" value="submit" class="primary-btn">Verify</button>
                                    </div>
                                </form>
                    <%=(typeof message!=='undefined')?message:""%>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <%-include("./includes/footer.ejs")%>
</body>

